@model IEnumerable<Film>
@{
}

<div class="text-center">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Tytul</th>
            <th>Rezyser</th>
            <th>Opis</th>
            <th>DataDodania</th>
            <th>Kup</th>
        </tr>
        
    
    @foreach (var film in Model)
    {
            
        <tr>

                <td><a href="@Url.Action("Szczegoly","Filmy",new{idFilmu=@film.Id})">@film.Id</a></td>
            <td>@film.Tytul</td>
            <td>@film.Rezyser</td>
            <td>@film.Opis</td>
            <td>@film.DataDodania</td>
                <td><a href="@Url.Action("Kup","Koszyk",new{id=@film.Id})">Kup</a></td>
        </tr>
        
    }
    </table>
</div>